

/* Here we define some styles that will ONLY be applied at screen sizes below 480 pixels */

  @media (max-width: 768px) {

    .navbar-default {
      background-color: skyblue;     
  }
}
   /* #navigation {
        background-color: skyblue;     
    }
}

  /* .box-2 {
  background: yellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px black;
  } */

  /* .box-3 {
    display: none;
  } */

  /* .box-4 {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in;
  } */

  /* .box-5 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    background: none;
    margin-left: 300px;
  } */
